#productos-container{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    /* max-width: 800px; */
    margin:auto
}

.tarjeta-producto{
    max-width: 300px;
    text-align: center;
    background-color: var(--color-acento-claro);
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.228);
    transition: 200ms;
}

.tarjeta-producto{
    translate: 0 -10px;
    box-shadow: 0 10px 5px rgba(0, 0, 0, 0.228);
}

h3, p{
    margin: 6px 0;

}

.tarjeta-producto img{
    width: 100%;
    aspect-ratio: 1.5;

}